@import 'bootstrap';

$dashed-border: 1px #ccc dashed;

.game-container {
  @extend .container;

  border: $dashed-border;
  margin-bottom: 15px;
  background-color: lightgray;

  &.cpu-winner {
    background-color: red;
    border: 3px solid darkred;
  }

  &.user-winner {
    background-color: green;
    border: 3px solid darkgreen;
  }

  &.deadlocked {
    background-color: darkgrey;
    border: 3px solid darkblue;
  }

  .row {
    border-bottom: $dashed-border;
    &:last-child() {
      border-bottom: none;
    }
  }

  .col {
    @extend .col-md-4;

    text-align: center;
    font-size: 70px;

    height: 100px;
    border-right: $dashed-border;
    cursor: not-allowed;

    &:last-child() {
      border-right: none;
    }

    &.taken-by-cpu {
      background-color: #888;
    }

    &.taken-by-user {
      background-color: #8c8;
    }
  }
}

.game-form-container {
  .end-game-btn {
    @extend .btn, .btn-default;

    display: none;
  }

  &.active-game {
    // hide when game is active
    .start-game-form {
      display: none;
    }

    .end-game-btn {
      display: block;
    }
  }
}

.active-game {
  .game-container {
    background-color: white;

    .col {
      cursor: pointer;
    }
  }
}

